ddd

In [1]:
import pyranges as pr
import pandas as pd
import numpy as np
from helpers import get_terminal_regions, _df_update_3p
import os

In [2]:
# BED file of proximal + distal PAS contained within genes (used to plot fig2c in Zeng et al. biorxiv)
zeng_bed = pr.read_bed("data/zeng_2024/zeng_pas_fig2c.bed")
zeng_bed

+--------------+-----------+-----------+------------+------------+-------+
| Chromosome   | Start     | End       | Name       | Score      | +1    |
| (category)   | (int64)   | (int64)   | (object)   | (object)   | ...   |
|--------------+-----------+-----------+------------+------------+-------|
| chr1         | 629997    | 629998    | MTND2P28   | .          | ...   |
| chr1         | 630367    | 630368    | MTND2P28   | .          | ...   |
| chr1         | 854387    | 854388    | LINC01128  | .          | ...   |
| chr1         | 859444    | 859445    | LINC01128  | .          | ...   |
| ...          | ...       | ...       | ...        | ...        | ...   |
| chrY         | 19691944  | 19691945  | nan        | .          | ...   |
| chrY         | 19692490  | 19692491  | nan        | .          | ...   |
| chrY         | 19703866  | 19703867  | KDM5D      | .          | ...   |
| chrY         | 19705419  | 19705420  | KDM5D      | .          | ...   |
+--------------+-----------+-----------+------------+------------+-------+
Stranded PyRanges object has 17,902 rows and 6 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
1 hidden columns: Strand

In [3]:
# annotate pas with unique id
zeng_bed = zeng_bed.assign("pas_id", lambda df: df.Chromosome.str.cat(df[["Start", "End", "Strand", "Name"]].astype(str), sep=":"))
zeng_bed

+--------------+-----------+-----------+------------+------------+-------+
| Chromosome   | Start     | End       | Name       | Score      | +2    |
| (category)   | (int64)   | (int64)   | (object)   | (object)   | ...   |
|--------------+-----------+-----------+------------+------------+-------|
| chr1         | 629997    | 629998    | MTND2P28   | .          | ...   |
| chr1         | 630367    | 630368    | MTND2P28   | .          | ...   |
| chr1         | 854387    | 854388    | LINC01128  | .          | ...   |
| chr1         | 859444    | 859445    | LINC01128  | .          | ...   |
| ...          | ...       | ...       | ...        | ...        | ...   |
| chrY         | 19691944  | 19691945  | nan        | .          | ...   |
| chrY         | 19692490  | 19692491  | nan        | .          | ...   |
| chrY         | 19703866  | 19703867  | KDM5D      | .          | ...   |
| chrY         | 19705419  | 19705420  | KDM5D      | .          | ...   |
+--------------+-----------+-----------+------------+------------+-------+
Stranded PyRanges object has 17,902 rows and 7 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
2 hidden columns: Strand, pas_id

In [4]:
# read in Gencode GTF, extract exons
exons = pr.read_gtf("data/gencode.v40.annotation.gtf").subset(lambda df: df.Feature == "exon")
exons = exons[["Feature", "gene_id", "gene_name", "transcript_id", "exon_number", "transcript_type"]]
exons

+--------------+------------+-----------+-----------+--------------+-------+
| Chromosome   | Feature    | Start     | End       | Strand       | +5    |
| (category)   | (object)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+------------+-----------+-----------+--------------+-------|
| chr1         | exon       | 11868     | 12227     | +            | ...   |
| chr1         | exon       | 12612     | 12721     | +            | ...   |
| chr1         | exon       | 13220     | 14409     | +            | ...   |
| chr1         | exon       | 12009     | 12057     | +            | ...   |
| ...          | ...        | ...       | ...       | ...          | ...   |
| chrY         | exon       | 57213879  | 57213964  | -            | ...   |
| chrY         | exon       | 57213525  | 57213602  | -            | ...   |
| chrY         | exon       | 57213203  | 57213357  | -            | ...   |
| chrY         | exon       | 57212183  | 57213125  | -            | ...   |
+--------------+------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 1,573,262 rows and 10 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
5 hidden columns: gene_id, gene_name, transcript_id, exon_number, transcript_type

In [5]:
# subset to last exons of all annotated transcripts
exons = exons.assign("exon_number", lambda df: df.exon_number.astype(float).astype(int))
print(exons.exon_number.dtypes)
exons

int64

+--------------+------------+-----------+-----------+--------------+-------+
| Chromosome   | Feature    | Start     | End       | Strand       | +5    |
| (category)   | (object)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+------------+-----------+-----------+--------------+-------|
| chr1         | exon       | 11868     | 12227     | +            | ...   |
| chr1         | exon       | 12612     | 12721     | +            | ...   |
| chr1         | exon       | 13220     | 14409     | +            | ...   |
| chr1         | exon       | 12009     | 12057     | +            | ...   |
| ...          | ...        | ...       | ...       | ...          | ...   |
| chrY         | exon       | 57213879  | 57213964  | -            | ...   |
| chrY         | exon       | 57213525  | 57213602  | -            | ...   |
| chrY         | exon       | 57213203  | 57213357  | -            | ...   |
| chrY         | exon       | 57212183  | 57213125  | -            | ...   |
+--------------+------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 1,573,262 rows and 10 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
5 hidden columns: gene_id, gene_name, transcript_id, exon_number, transcript_type

In [6]:
# extract last exons for all annotated transcripts
last_exons = get_terminal_regions(exons, number_type="stranded")

# assign an 'exon id' - basically just the coordinates (so can handle identical LEs x transcripts of same gene)
last_exons = last_exons.assign("exon_id", lambda df: df.Chromosome.str.cat(df[["Start", "End", "Strand", "gene_name"]].astype(str), sep=":"))

# don't need it
last_exons = last_exons.drop("exon_number")

# annotate overlapping last exons with a common ID
last_exons = last_exons.cluster(strand=True)

last_exons

+--------------+------------+-----------+-----------+--------------+-------+
| Chromosome   | Feature    | Start     | End       | Strand       | +6    |
| (category)   | (object)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+------------+-----------+-----------+--------------+-------|
| chr1         | exon       | 13220     | 14409     | +            | ...   |
| chr1         | exon       | 13452     | 13670     | +            | ...   |
| chr1         | exon       | 30365     | 30503     | +            | ...   |
| chr1         | exon       | 30975     | 31097     | +            | ...   |
| ...          | ...        | ...       | ...       | ...          | ...   |
| chrY         | exon       | 57165511  | 57165845  | -            | ...   |
| chrY         | exon       | 57171889  | 57172769  | -            | ...   |
| chrY         | exon       | 57201142  | 57202020  | -            | ...   |
| chrY         | exon       | 57212183  | 57213125  | -            | ...   |
+--------------+------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 246,624 rows and 11 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
6 hidden columns: gene_id, gene_name, transcript_id, transcript_type, exon_id, ... (+ 1 more.)

In [7]:
# Assign PAS to last exons based on overlap
pas_le = last_exons[["exon_id", "Cluster"]].join(zeng_bed[["Score", "pas_id"]], strandedness="same")
pas_le

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +7    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 629639    | 630683    | +            | ...   |
| chr1         | 629639    | 630683    | +            | ...   |
| chr1         | 853390    | 854398    | +            | ...   |
| chr1         | 853390    | 859446    | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
| chrY         | 19705416  | 19706345  | -            | ...   |
| chrY         | 19705419  | 19706345  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 38,050 rows and 11 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
7 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 1 more.)

In [8]:
# Count the number of unique PAS overlapping last exons 
# (2 = 3'UTR PAS, 1 = ALEs)
num_olap_pas = pas_le.as_df().groupby("exon_id")["pas_id"].nunique().reset_index()

# number of putative 3'UTR APA / ALE PAS
num_olap_pas.pas_id.value_counts()

pas_id
1    13557
2     6923
3        2
Name: count, dtype: int64

1 overlap could arise due to a short annotated ALE (but have a longer annotated ALE of the same gene overlap it)

At gene level, check if any last exon has two overlapping PAS, and recalculate the frequency distribution

In [9]:
# extract gene name from exon_id
num_olap_pas.loc[:, "gene_name"] = num_olap_pas.exon_id.str.split(":", expand=True, regex=False)[4]

# for each gene, pick the max number of pas (pas_id column) and recount distribution (i.e. does gene have at least one tandem APA last exon)
num_olap_pas.groupby("gene_name")["pas_id"].max().value_counts()

pas_id
2    4877
1    3549
3       2
Name: count, dtype: int64

Tandem APA last exons are now much more frequent, as expected

To define tandem APA last exons, will need to subset for exon IDs with two overlapping PAS. Will keep last exons with distinct 5'ends (but still 2 overlapping) for now, as can't see a reasonable justification for removing/prioritising.

1. Get list/set of exon IDs with two overlapping PAS, subset pas_le for these events
2. Update the 3' coordinate of last exons (strand aware) to the reported PAS.
3. Drop duplicate intervals (arise from identical last exons/extended 3'ends with same 5'end), get BED ready (i.e. define a cleaned 'Name' field)

In [10]:
# get last exons with two overlapping PAS & subset for joined last exon + pas coordinates
tandem_exons_ids = set(num_olap_pas.loc[num_olap_pas["pas_id"] == 2, "exon_id"])

pas_le_3utr = pas_le.subset(lambda df: df.exon_id.isin(tandem_exons_ids))
pas_le_3utr

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +7    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 629639    | 630683    | +            | ...   |
| chr1         | 629639    | 630683    | +            | ...   |
| chr1         | 853390    | 859446    | +            | ...   |
| chr1         | 853390    | 859446    | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
| chrY         | 19703864  | 19706345  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 18,694 rows and 11 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
7 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 1 more.)

In [11]:
# update 3' exon coordinates to the PAS coordinate
pas_le_3utr_upd = pas_le_3utr.apply(lambda df: _df_update_3p(df))
pas_le_3utr_upd

Number of negative or zero-length updated intervals to be dropped - 940
Number of negative or zero-length updated intervals to be dropped - 1030
Number of negative or zero-length updated intervals to be dropped - 728
Number of negative or zero-length updated intervals to be dropped - 612
Number of negative or zero-length updated intervals to be dropped - 552
Number of negative or zero-length updated intervals to be dropped - 584
Number of negative or zero-length updated intervals to be dropped - 384
Number of negative or zero-length updated intervals to be dropped - 442
Number of negative or zero-length updated intervals to be dropped - 452
Number of negative or zero-length updated intervals to be dropped - 514
Number of negative or zero-length updated intervals to be dropped - 408
Number of negative or zero-length updated intervals to be dropped - 600
Number of negative or zero-length updated intervals to be dropped - 408
Number of negative or zero-length updated intervals to be dropped - 376
Number of negative or zero-length updated intervals to be dropped - 358
Number of negative or zero-length updated intervals to be dropped - 360
Number of negative or zero-length updated intervals to be dropped - 310
Number of negative or zero-length updated intervals to be dropped - 396
Number of negative or zero-length updated intervals to be dropped - 400
Number of negative or zero-length updated intervals to be dropped - 410
Number of negative or zero-length updated intervals to be dropped - 384
Number of negative or zero-length updated intervals to be dropped - 504
Number of negative or zero-length updated intervals to be dropped - 534
Number of negative or zero-length updated intervals to be dropped - 406
Number of negative or zero-length updated intervals to be dropped - 158
Number of negative or zero-length updated intervals to be dropped - 204
Number of negative or zero-length updated intervals to be dropped - 328
Number of negative or zero-length updated intervals to be dropped - 356
Number of negative or zero-length updated intervals to be dropped - 268
Number of negative or zero-length updated intervals to be dropped - 340
Number of negative or zero-length updated intervals to be dropped - 384
Number of negative or zero-length updated intervals to be dropped - 336
Number of negative or zero-length updated intervals to be dropped - 492
Number of negative or zero-length updated intervals to be dropped - 572
Number of negative or zero-length updated intervals to be dropped - 158
Number of negative or zero-length updated intervals to be dropped - 252
Number of negative or zero-length updated intervals to be dropped - 432
Number of negative or zero-length updated intervals to be dropped - 382
Number of negative or zero-length updated intervals to be dropped - 290
Number of negative or zero-length updated intervals to be dropped - 314
Number of negative or zero-length updated intervals to be dropped - 104
Number of negative or zero-length updated intervals to be dropped - 92
Number of negative or zero-length updated intervals to be dropped - 190
Number of negative or zero-length updated intervals to be dropped - 180
Number of negative or zero-length updated intervals to be dropped - 432
Number of negative or zero-length updated intervals to be dropped - 314
Number of negative or zero-length updated intervals to be dropped - 16
Number of negative or zero-length updated intervals to be dropped - 8

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +7    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 629639    | 629998    | +            | ...   |
| chr1         | 629639    | 630368    | +            | ...   |
| chr1         | 853390    | 854388    | +            | ...   |
| chr1         | 853390    | 859445    | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 19703866  | 19706345  | -            | ...   |
| chrY         | 19705419  | 19706345  | -            | ...   |
| chrY         | 19703866  | 19706345  | -            | ...   |
| chrY         | 19705419  | 19706345  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 18,694 rows and 11 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
7 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 1 more.)

In [12]:
# clean up

# drop duplicates
pas_le_3utr_upd = pas_le_3utr_upd.drop_duplicate_positions(strand=True)

# remake pas_id, using gene name from exon_id if required
pas_le_3utr_upd = pas_le_3utr_upd.as_df()

# generate standardised gene name column, preferring name from exon_id where provided PAS has no gene name
pas_le_3utr_upd.loc[:, "pas_gn"] = pas_le_3utr_upd.pas_id.str.split(":", expand=True, regex=False)[4]
pas_le_3utr_upd.loc[:, "exon_gn"] = pas_le_3utr_upd.exon_id.str.split(":", expand=True, regex=False)[4]
pas_le_3utr_upd.loc[:, "gene_name"] = np.where(pas_le_3utr_upd.pas_gn == "nan", pas_le_3utr_upd["exon_gn"], pas_le_3utr_upd["pas_gn"])

# Update pas_id to include the standardised gene name
pas_le_3utr_upd.loc[:, "pas_id"] = pas_le_3utr_upd.pas_id.str.split(':').str[:4].str.join(':')
pas_le_3utr_upd.loc[:, "pas_id"] = pas_le_3utr_upd.pas_id.str.cat(pas_le_3utr_upd.gene_name, sep=":")
pas_le_3utr_upd.rename(columns={"pas_id": "Name"}, inplace=True)

pas_le_3utr_upd = pr.PyRanges(pas_le_3utr_upd)

pas_le_3utr_upd[["Score", "Name"]]

+--------------+-----------+-----------+--------------+------------+-------+
| Chromosome   | Start     | End       | Strand       | Score      | +1    |
| (category)   | (int64)   | (int64)   | (category)   | (object)   | ...   |
|--------------+-----------+-----------+--------------+------------+-------|
| chr1         | 629639    | 629998    | +            | .          | ...   |
| chr1         | 629639    | 630368    | +            | .          | ...   |
| chr1         | 853390    | 854388    | +            | .          | ...   |
| chr1         | 853390    | 859445    | +            | .          | ...   |
| ...          | ...       | ...       | ...          | ...        | ...   |
| chrY         | 19691944  | 19694606  | -            | .          | ...   |
| chrY         | 19692490  | 19694606  | -            | .          | ...   |
| chrY         | 19703866  | 19706345  | -            | .          | ...   |
| chrY         | 19705419  | 19706345  | -            | .          | ...   |
+--------------+-----------+-----------+--------------+------------+-------+
Stranded PyRanges object has 10,378 rows and 6 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
1 hidden columns: Name

# ALEs...

Need to identify genes where have only 1 PAS overlapping each ALE.
Then using those genes, check that the last exons themselves are not overlapping, and that the PAS are distinct (may only be one / 2 pas for gene overlapping an annotated exon - need to track those)

In [27]:
# for each gene, get max overlapping PAS count of any of its last exons
max_gene_olap_pas =  num_olap_pas.groupby("gene_name")["pas_id"].max()

# subset to genes with overlap PAS count of 1, becasue these do not have any tandem APA
put_ale_genes = set(max_gene_olap_pas[max_gene_olap_pas.eq(1)].index)
# get exon ids
put_ale_ids = set(num_olap_pas.loc[num_olap_pas.gene_name.isin(put_ale_genes), "exon_id"])

pas_le_ale = pas_le.subset(lambda df: df.exon_id.isin(put_ale_ids))
pas_le_ale

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +7    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 1013983   | 1014540   | +            | ...   |
| chr1         | 1013983   | 1014540   | +            | ...   |
| chr1         | 1616507   | 1617898   | +            | ...   |
| chr1         | 1616507   | 1619210   | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 18932006  | 18932841  | -            | ...   |
| chrY         | 18932316  | 18932841  | -            | ...   |
| chrY         | 18932435  | 18932841  | -            | ...   |
| chrY         | 18932435  | 18932841  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 12,054 rows and 11 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
7 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 1 more.)

In [43]:
# ALEs should be non-overlapping. Each gene should therefore have two unique PAS, and two unique Cluster values
pas_le_ale = pas_le_ale.assign("gene_name", lambda df: df.exon_id.str.split(":", expand=True)[4])
# count unqiue pas + non-overlapping ales
ale_uniq_counts = pas_le_ale.as_df().groupby("gene_name")[["Cluster", "pas_id"]].nunique().reset_index()

# quick check counts
ale_uniq_counts[["Cluster","pas_id"]].value_counts()

Cluster  pas_id
1        1         2621
2        2          900
1        2           27
3        3            1
Name: count, dtype: int64

Would anticipate 2 + 2 being the bonafide ALEs.
1 + 1 likely mean 2nd PAS doesn't overlap with known last exon boundaries (could be intronic PAS, or just downstream of annotated ALEs?). Would have to better parse

In [58]:
# check the 1 ALE but two PAS events
pas_le_ale.subset(lambda df: df.gene_name.isin(set(ale_uniq_counts.loc[(ale_uniq_counts["Cluster"] == 1) & (ale_uniq_counts["pas_id"] == 2), "gene_name"]))).head(22)

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +8    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 42674847  | 42676446  | +            | ...   |
| chr1         | 42675287  | 42676713  | +            | ...   |
| chr1         | 42675366  | 42676043  | +            | ...   |
| chr1         | 42675366  | 42676619  | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chr1         | 89625961  | 89626826  | -            | ...   |
| chr1         | 89625964  | 89626826  | -            | ...   |
| chr1         | 89626019  | 89632209  | -            | ...   |
| chr1         | 89631875  | 89632209  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 22 rows and 12 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 2 more.)

Partly overlapping ALEs with different 5'end coordinates. Probably better described as tandem ALEs, just need to merge the exons before updating the PAS?

In [62]:
# is SFPQ represented in putative ALEs?
ale_uniq_counts.loc[(ale_uniq_counts["Cluster"] == 2) & (ale_uniq_counts["pas_id"] == 2) & (ale_uniq_counts["gene_name"] == "SFPQ"),:]

     gene_name  Cluster  pas_id
2681      SFPQ        2       2

In [73]:
# get last exons with two overlapping PAS & subset for joined last exon + pas coordinates
# get IDs for 'bonafide' ALEs
ale_gene_names = ale_uniq_counts.loc[(ale_uniq_counts["Cluster"] == 2) & (ale_uniq_counts["pas_id"] == 2), "gene_name"]
pas_le_ale_bf = pas_le_ale.subset(lambda df: df.gene_name.isin(ale_gene_names))
pas_le_ale_bf

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +8    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 1616507   | 1617898   | +            | ...   |
| chr1         | 1616507   | 1619210   | +            | ...   |
| chr1         | 1617077   | 1617323   | +            | ...   |
| chr1         | 1630291   | 1630605   | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 18932006  | 18932841  | -            | ...   |
| chrY         | 18932316  | 18932841  | -            | ...   |
| chrY         | 18932435  | 18932841  | -            | ...   |
| chrY         | 18932435  | 18932841  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 4,528 rows and 12 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 2 more.)

In [74]:
# update 3' exon coordinates to the PAS coordinate
pas_le_ale_bf_upd = pas_le_ale_bf.apply(lambda df: _df_update_3p(df))
pas_le_ale_bf_upd = pas_le_ale_bf_upd.drop_duplicate_positions(strand=True)
pas_le_ale_bf_upd

Number of negative or zero-length updated intervals to be dropped - 177
Number of negative or zero-length updated intervals to be dropped - 217
Number of negative or zero-length updated intervals to be dropped - 237
Number of negative or zero-length updated intervals to be dropped - 99
Number of negative or zero-length updated intervals to be dropped - 125
Number of negative or zero-length updated intervals to be dropped - 82
Number of negative or zero-length updated intervals to be dropped - 66
Number of negative or zero-length updated intervals to be dropped - 107
Number of negative or zero-length updated intervals to be dropped - 83
Number of negative or zero-length updated intervals to be dropped - 48
Number of negative or zero-length updated intervals to be dropped - 104
Number of negative or zero-length updated intervals to be dropped - 136
Number of negative or zero-length updated intervals to be dropped - 119
Number of negative or zero-length updated intervals to be dropped - 168
Number of negative or zero-length updated intervals to be dropped - 158
Number of negative or zero-length updated intervals to be dropped - 119
Number of negative or zero-length updated intervals to be dropped - 98
Number of negative or zero-length updated intervals to be dropped - 98
Number of negative or zero-length updated intervals to be dropped - 58
Number of negative or zero-length updated intervals to be dropped - 93
Number of negative or zero-length updated intervals to be dropped - 90
Number of negative or zero-length updated intervals to be dropped - 155
Number of negative or zero-length updated intervals to be dropped - 80
Number of negative or zero-length updated intervals to be dropped - 106
Number of negative or zero-length updated intervals to be dropped - 27
Number of negative or zero-length updated intervals to be dropped - 61
Number of negative or zero-length updated intervals to be dropped - 62
Number of negative or zero-length updated intervals to be dropped - 114
Number of negative or zero-length updated intervals to be dropped - 110
Number of negative or zero-length updated intervals to be dropped - 91
Number of negative or zero-length updated intervals to be dropped - 167
Number of negative or zero-length updated intervals to be dropped - 159
Number of negative or zero-length updated intervals to be dropped - 88
Number of negative or zero-length updated intervals to be dropped - 86
Number of negative or zero-length updated intervals to be dropped - 60
Number of negative or zero-length updated intervals to be dropped - 45
Number of negative or zero-length updated intervals to be dropped - 74
Number of negative or zero-length updated intervals to be dropped - 113
Number of negative or zero-length updated intervals to be dropped - 127
Number of negative or zero-length updated intervals to be dropped - 31
Number of negative or zero-length updated intervals to be dropped - 17
Number of negative or zero-length updated intervals to be dropped - 43
Number of negative or zero-length updated intervals to be dropped - 45
Number of negative or zero-length updated intervals to be dropped - 27
Number of negative or zero-length updated intervals to be dropped - 61
Number of negative or zero-length updated intervals to be dropped - 74
Number of negative or zero-length updated intervals to be dropped - 4
Number of negative or zero-length updated intervals to be dropped - 19

+--------------+-----------+-----------+--------------+-------+
| Chromosome   | Start     | End       | Strand       | +8    |
| (category)   | (int64)   | (int64)   | (category)   | ...   |
|--------------+-----------+-----------+--------------+-------|
| chr1         | 1616507   | 1617321   | +            | ...   |
| chr1         | 1617077   | 1617321   | +            | ...   |
| chr1         | 1630291   | 1630605   | +            | ...   |
| chr1         | 6632795   | 6633562   | +            | ...   |
| ...          | ...       | ...       | ...          | ...   |
| chrY         | 13234577  | 13234826  | -            | ...   |
| chrY         | 13248385  | 13249882  | -            | ...   |
| chrY         | 18872593  | 18872834  | -            | ...   |
| chrY         | 18932449  | 18932841  | -            | ...   |
+--------------+-----------+-----------+--------------+-------+
Stranded PyRanges object has 2,051 rows and 12 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: exon_id, Cluster, Start_b, End_b, Score, Strand_b, ... (+ 2 more.)

In [75]:
# remake pas_id, using gene name from exon_id if required
pas_le_ale_bf_upd = pas_le_ale_bf_upd.drop("gene_name").as_df()

# generate standardised gene name column, preferring name from exon_id where provided PAS has no gene name
pas_le_ale_bf_upd.loc[:, "pas_gn"] = pas_le_ale_bf_upd.pas_id.str.split(":", expand=True, regex=False)[4]
pas_le_ale_bf_upd.loc[:, "exon_gn"] = pas_le_ale_bf_upd.exon_id.str.split(":", expand=True, regex=False)[4]
pas_le_ale_bf_upd.loc[:, "gene_name"] = np.where(pas_le_ale_bf_upd.pas_gn == "nan", pas_le_ale_bf_upd["exon_gn"], pas_le_ale_bf_upd["pas_gn"])

# Update pas_id to include the standardised gene name
pas_le_ale_bf_upd.loc[:, "pas_id"] = pas_le_ale_bf_upd.pas_id.str.split(':').str[:4].str.join(':')
pas_le_ale_bf_upd.loc[:, "pas_id"] = pas_le_ale_bf_upd.pas_id.str.cat(pas_le_ale_bf_upd.gene_name, sep=":")
pas_le_ale_bf_upd.rename(columns={"pas_id": "Name"}, inplace=True)

pas_le_ale_bf_upd = pr.PyRanges(pas_le_ale_bf_upd)

pas_le_ale_bf_upd[["Score", "Name"]]

+--------------+-----------+-----------+--------------+------------+-------+
| Chromosome   | Start     | End       | Strand       | Score      | +1    |
| (category)   | (int64)   | (int64)   | (category)   | (object)   | ...   |
|--------------+-----------+-----------+--------------+------------+-------|
| chr1         | 1616507   | 1617321   | +            | .          | ...   |
| chr1         | 1617077   | 1617321   | +            | .          | ...   |
| chr1         | 1630291   | 1630605   | +            | .          | ...   |
| chr1         | 6632795   | 6633562   | +            | .          | ...   |
| ...          | ...       | ...       | ...          | ...        | ...   |
| chrY         | 13234577  | 13234826  | -            | .          | ...   |
| chrY         | 13248385  | 13249882  | -            | .          | ...   |
| chrY         | 18872593  | 18872834  | -            | .          | ...   |
| chrY         | 18932449  | 18932841  | -            | .          | ...   |
+--------------+-----------+-----------+--------------+------------+-------+
Stranded PyRanges object has 2,051 rows and 6 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
1 hidden columns: Name

In [76]:
pas_le_ale_bf_upd[["Score", "Name"]].subset(lambda df: df.Name.str.contains("SFPQ", regex=False))

+--------------+-----------+-----------+--------------+------------+-------+
| Chromosome   |     Start |       End | Strand       | Score      | +1    |
| (category)   |   (int64) |   (int64) | (category)   | (object)   | ...   |
|--------------+-----------+-----------+--------------+------------+-------|
| chr1         |  35176380 |  35176474 | -            | .          | ...   |
| chr1         |  35176380 |  35176471 | -            | .          | ...   |
| chr1         |  35183601 |  35184593 | -            | .          | ...   |
+--------------+-----------+-----------+--------------+------------+-------+
Stranded PyRanges object has 3 rows and 6 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
1 hidden columns: Name

In [78]:
# output BED 
le_3utr_bed = pas_le_3utr_upd[["Score", "Name"]].sort()
le_ale_bed = pas_le_ale_bf_upd[["Score", "Name"]].sort()
le_3utr_bed.to_bed("processed/zeng_2024_3utr_pas_last_exons.bed")
le_ale_bed.to_bed("processed/zeng_2024_ale_pas_last_exons.bed")
pr.concat([le_3utr_bed, le_ale_bed]).sort().to_bed("processed/zeng_2024_combined_pas_last_exons.bed")